// 공지사항, 운영공지 등 상세페이지 모달 공통 css

// region 헤더 영역
ion-navbar.modal-bbs-header {
  min-height: 44px !important;
  padding: 0 !important;
  border-bottom: 2px solid #2c77bb;
}
//&:after {
//  content: '';
//  display: none;
//}
.bbs-detail-title {
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}
// endregion

// region content 영역
.bbs-title, .bbs-write-time, .bbs-content {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}
.bbs-title {
  white-space: pre-wrap;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
}
.bbs-write-time {
  text-align: right;
}
.bbs-content {
  white-space: pre-wrap;
  font-size: 14px;
}

.bbs-attach-wrapper {
  padding: 16px;
  border-bottom: 1px solid #f1f1f1;

  .dot {
    color: #09a7c4;
    font-weight: 900;
    font-size: 16px;
    margin-right: 3px;
  }

  .file-download-progress {
    display: block;
    margin: 5px auto;
    width: 100%;
    height: 5px;
  }

  .attach-box {
    border: 1px solid #eeeeee;

    .attach-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px;

      span {
        font-size: 16px;
      }
    }
  }

}
// endregion
